@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter&family=Noto+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #0F0F0F;
}

html {
  scroll-behavior: smooth;

  /* Custom scrollbar for Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(136, 146, 176) none;
  overflow-y: scroll;
}

/* Custom scrollbar for Chromium */
html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: none;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(136, 146, 176);
  border-radius: none;
}
